<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <description>Administrator</description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAADABJYgK5pOuVUd5hzmvPNMB6mhplP1WaovapPi+3YD6faDtNGpFA8lmpVecy5SKlMLo/6C7JIHPQdeermNq1ZxVVlRwDqOmtqam2FMMlSgb6Q95SUwMu0bJLABQIeJsrEf/9nODIq9+xx9TBdsVVzawDkAtm/Vg+HFnP6kffwUPBstuo0R0P4m2IeiKiavZ5jkT8xljV4gyV3gmev9dSumHZMK2cphUBpaXbEol7N8gnMav3Hqs6dU9yD4KNz7v62PQfW2HGb8nVPdLHFr+KyAfQ==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress></emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1527220906369</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$MdOLKAqD/ZTvJCE4n4nV..fXB34tLFDfjVz4.nnTkYfnRx6kC770C</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>