<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <description>Administrator</description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAHA1d7u0L8apl09Xdi5cLAPmArrcQXmWxJIhIK1x0O19CYLR/E9fonX4Rv/bvBMf2TYc2N3bB/Fdii6Rzkocmko/NChqNa6XSCrescx7GvT99CZrGP8iS0ObwEfdhHZCw/DKsL6y1eTnFSOF2Fr7D8HV8tuN+g4vuteXnbVZVBHXi06D3CWA2FynirBfuhX/Vcuu2Phu8ZSB2ZfSrcmZ/Pd9StB8niajCm16fAOKAtU1I2rvDKfQMqkBxvCechUA1M/3uEJs8ISn/ra7VmQ/OuZzPufElx6lYXSGQ3D9dt70Gd7EYxUNABcVaAY736PVxqTc72QoxBsnOqFu2J2xA6SZUvCQINHZ0l/DE/Nk5laLpXTzlnRt00Bs7GhBqfFh51MnlKSVcJwrxhkqMVLewDveIoKjBMvh5oBn7pCRxjZMkrwQkjrqnAqQ6R2rDpGPWc9KyD5Ya2iD5pHry+XbxL8YpGAET05clmQT/ntvaYv6UglZlycLiUe8cW8lrGPPvuX5N/MdHf1riF5Fd96B3aEhWEPP/oQLLDDDTiJmqzEVx3yfs9I3vb2u0vbihgACaC1w0FJIzqwsaB16/hhzQlmexySex+XEloLtL6fTtPfVFg=}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress></emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1527220906369</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$4Pjrcdmy9o2DnYWdezHIveldXycpq2rKhYLTqp0/tQ2lL1Ep/ktmO</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>