<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <description>Administrator</description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAKAYTIMOFzBNZp5W5nr3quoTxUf3A5FbhrqcOBnlgpJfSPWPx2HYavtnYeBv5SI2ZyUsAhmWLQPYrmXGly7pPOb7C3Lz4TjpeKkQo0GEwYpGFMCW8s5dztKMXW58yCzc+kJotOqGG5J+yOPw1JnriX0p8N19OsShqaI83rO6d8myg/FzAmEzuw67VagecblhTdgzh7B4P0A58oCmM0t27u+hPTOt3s5QJH4Ys4vsWb0TLf0DO5JqQcXDHA/Uip5Mba05hyX9a1U+BrwG6RCPJ0wjlNmuccdrI4lX3J4mzwvy55p8h2/0YDs3JDtj92y8dqY0kSLAJg2ZlPqpfNt7S2MlZA6wfoTf0acxhPajtn6vzS5BnCHLVigTyfF8t4n7Hrd+CXkwDc/u/V6JAPd7jn3oaBzXHGtwo5zI+bzrOfhoCkgtn/FQWaZ26KL7GquZT52JSB2pAp8ESlD9g6Y81t5LQSH/NHE/GM1TcRrY1UWmgHlORlWl79kozqdwBY2VlIZoeV182FC1tHwZB1W1UTqvVzDu+7A3QAecdTbAjKkpb87ZZ7b1OEXnw3Xp0GJ2uMvAtqQRHm4VNbkTBqBg7kxXynmnxQwIrcf0b3bGKvFFqIlYFVyoRgZOmETPH6rHR8CPV2yWt3cOxdbc1eDf/CshQf6xJb8nP9bF2YxFTiagpA/FRERYHqBwI2i7fsc1MyKAsoLwuqU9ES2RZQ7cw2LXzVKnutIZYtrcuh/XC1F228TsQTr4yZunA5FH0WpIK76eNJTq/jGgb0C57wPr7Ou5IJ7U4p9NUVrtp2S1mDKkb379Ye25VcINoWeNqPZikU9KCePzvPDzCfXS3OV/92goXNVfVmAKkXIPFdzHfgB57o=}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.21">
      <emailAddress>dennis.joson@pdax.ph</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1527220906369</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$4Pjrcdmy9o2DnYWdezHIveldXycpq2rKhYLTqp0/tQ2lL1Ep/ktmO</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>